.main_ayuda {
    height: 100%;
    .accordion{
        padding: .5rem;
        margin: .5rem;
        display: flex;
        flex-direction: column;
        .accordion-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .accordion-button{
                font-weight: bold;
            }
        }
    }
}